{% extends 'main_com_navbar.html' %} <!-- extensão de main.html -->

{% block content  %}

<div style="border: solid;background-color:goldenrod;border-color: rgb(139, 104, 15);">
    
    <h1 style="color:rgb(110, 7, 55);">Este é o menu. Por enquanto não há nada aqui.</h1>

</div>
<a href='/listagem/'>
   
    <button style="font-size: 40px;background-color: goldenrod; color: rgb(110, 7, 55); border-radius: 5px; position: relative; top: 7px;">Tela de Listagem</button> 

</a>

<a href='/'>
    
    <button style="font-size: 40px;background-color:goldenrod; color: rgb(110, 7, 55); border-radius: 5px; position: relative; top: 7px;">Sair da Alexandria</button> 

</a>

{% endblock content %}