{% extends 'main_com_navbar.html' %}

{% block content  %}

<div style="background-color: #ffdec7;color: #493129; border: solid; border-color: #ffdec7; border-radius: 10px; text-align: center;">
{% if request.user.is_authenticated %}
<div>
    
    <h1>Olá {{request.user}}.</h1>

</div>
{% else %}
<div style="border: solid; border-color: #da8484; border-radius: 10px;">
    
    <h1 style="color: #000;">Você não está autenticado!</h1>

</div>
{% endif %}

<div>
    <div>
        <h1>Minha Lista de Leitura:</h1>
        <div style="background-color: #da8484; border: solid;border-color: #da8484; border-radius: 10px;">
        <ul>
            {% for relacionamento in listaLeitura %}
                <li style="list-style-position: inside;"><a href="{% url 'Informações do Livro' pk=relacionamento.livro.livro_id %}"  style="color: #493129; text-decoration: none;">
                    ID: {{ relacionamento.livro.livro_id }} -- Nome: {{relacionamento.livro.livro_nome}} -- Autor: {{relacionamento.livro.livro_autor}}
                </a></li>
            {% endfor %}
        </ul>
        </div>
    </div>
</div>

<div>
    <div>
        <h1>Recomendações para você:</h1>
    <div style="background-color: #da8484; border: solid;border-color: #da8484; border-radius: 10px;">    
    <ul>
        {% for livro in livrosRecomendados %}
            <li style="list-style-position: inside;"><a href="{% url 'Informações do Livro' pk=livro.livro_id %}" style="color: #493129; text-decoration: none;">
                {{ livro.livro_nome }}</a> - {{ livro.livro_autor }}</li>
        {% endfor %}
    </ul>
    </div>
    </div>
</div>
</div>

<div style="text-align: center;">
<a href="{% url 'Listagem' %}">
   
    <button style="font-size: 40px;background-color: #ffdec7; color: #493129;border: none; border-radius: 10px; position: relative; top: 7px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Tela de Listagem</button> 

</a>

{% if request.user.is_authenticated %}
<a href="{% url 'Logout' %}">
    
    <button style="font-size: 40px;background-color: #ffdec7; color: #493129;border: none; border-radius: 10px; position: relative; top: 7px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Sair da Alexandria</button> 

</a>
{% else %}
<a href="{% url 'Logout' %}">
    
    <button style="font-size: 40px;background-color:#da8484; color: #493129;border: none; border-radius: 10px; position: relative; top: 7px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Ei! Faça o login primeiro.</button> 

</a>
{% endif %}
</div>

{% endblock content %}