<div class="navbar-container">
    <div class="logo-container">
        <h1><a href="/menu/"> <!--link que leva o usuário à homepage-->

    <button style="font-size: 37px;border: none; background-color:rgb(110, 7, 55);color: goldenrod;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">ALEXANDRIA</button> <!--#logo do site-->

        </a></h1>

    </div>
    
    <div style="height: 1px; background-color: goldenrod; position: relative; top: -10px;"></div>

</div>

