
<div style= "background-color: #8b597b; margin-top: -20px; border: #8b597b solid;">

    <h1 style = "color:#ffdec7;font-family: 'Playball'; text-align: center; text-decoration: none;font-size:80px;">ALEXANDRIA</h1> <!--#logo do site-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Playball&display=swap" rel="stylesheet">

    
    <div style="height: 5px; background-color: #ffdec7; position: relative; top: -10px;"></div>


</div>
