{% extends 'main_com_navbar.html' %}

{% block content %}

<form method="POST" style="text-align: center;">
    {% csrf_token %}
    
    <div style="border: solid;border-radius: 10px;border-color:#ffdec7; background-color:#ffdec7;color:#493129;">
        
        <p style="font-size: 50px; font-weight: bold;">Tem certeza que você deseja remover "{{obj}}" da lista?</p>
    
    </div>

    
    <a href="{% url 'Listagem' %}">
        <button type = "button" class="botao" style="font-size: 40px;background-color:#ffdec7; color: #493129; border-radius: 5px; position: relative; top: 7px; border: none; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Voltar</button>
    </a>

    <input type="submit" value="Confirmar" class="botao" style="font-size: 40px;background-color:#ffdec7; color: #493129; border-radius: 5px; position: relative; top: 7px; border: none; font-family: 'Times New Roman', Times, serif; font-weight: bold;"/>
</form>

{% endblock content %}