{% extends 'main_com_navbar.html' %}

{% block content %}

<div  style="border: solid; border-color: #ffdec7;border-radius: 10px;background-color:#ffdec7; color: #493129; height: 370px; text-align: center; font-weight: bold;">
    <form method="POST">
        {% csrf_token %}
        {{formulario.as_p}}
        <input type="submit" value="Confirmar" style="border: none; border-radius: 10px; background-color: #a87598;color: #493129;  font-size: 20px; font-family: 'Times New Roman', Times, serif; font-weight: bold;"/>
    </form>
    
</div>

<div style="text-align: center;">
<a href="{% url 'Listagem' %}">
        
    <button style="font-size: 40px;background-color: #ffdec7; color: #493129; border: none; border-radius: 10px; position: relative; top: 7px; font-family: 'Times New Roman', Times, serif; font-weight: bold;">Voltar</button> 

</a>
</div>

{% endblock content %}